@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-12 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>

            <p>Trabajo desde el desarrollo, pruebas automáticas y despliege en producción con entrega continua</p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core, SQL Server
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries especiales</li>
                <li>Principios SOLID</li>
            </ul>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-12 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>
                Puedo crear front-ends que cumplan con los requerimientos del negocio
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                Angular, Blazor
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>React Hooks</li>
                <li>Angular Material</li>
                <li>Blazor WASM</li>
                <li>Pruebas automáticas</li>
                <li>Leaflet</li>

            </ul>
        </div>

    </div>

</div>
