@model Persona;

@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <p class="display-3"> Hola, soy Sergio De Luca. </p>
    <h3>Analista en tecnologías de la Información y comunicación | Facultad de informática | UNLP</h3>
    <p>Me dedico al desarrollo web, usando diferentes tecnologías de desarrollo como Dotnet, Asp.net, Angular, Nestjs, Nodejs, Reactjs </p>

  


    <img class="foto_perfil"
        src="~/imagenes/perfil.jpg" alt="Foto de Sergio"/>
</div>



<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">

        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            He estado desarrollando software profesionalmente desde blabla....
        </p>
    </div>
</div>