@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sergio De Luca</h1>
    <h3>Desarrollador full stack</h3>

    <img 
        style="width:200px; margin: 2rem 0; border-radius: 30%"
        src="~/imagenes/perfil.jpg" alt="Foto de Sergio"/>
</div>
