@model string;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola, soy @Model </h1>
    <h3>Desarrollador full stack</h3>

    <img class="foto_perfil"
        src="~/imagenes/perfil.jpg" alt="Foto de Sergio"/>
</div>
