@model Persona;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="display-4"> Hola, soy @Model.Nombre @Model.Apellido y tengo @Model.Edad años de edad. </p>
    <h3>Desarrollador full stack</h3>

    <img class="foto_perfil"
        src="~/imagenes/perfil.jpg" alt="Foto de Sergio"/>
</div>
